@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  font-size: 16px;
  background-image: url("../public/Earth-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
